.product-card {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.product-image-wrapper {
  height: 240px;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.product-image {
  margin: 0 auto;
  width: auto !important;
  max-width: 240px;
  max-height: 240px;
}

.product-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
